---
layout: layout.liquid
title: Can't Leave Home Without It
---

<h1>Items I can't Leave Home <strong>Without</strong></h1>

<div class="image-flex">
  <a href="/wallet/" class="image-card">
    <img alt="Wallet" src="/images/image0(3).jpeg" />
    <p>Wallet</p>
  </a>

  <a href="/keys/" class="image-card">
    <img alt="Keys" src="/images/image1.jpeg" />
    <p>Keys</p>
  </a>

  <a href="/earbuds/" class="image-card">
    <img alt="Earbuds" src="/images/image2.jpeg" />
    <p>Earbuds</p>
  </a>
</div>
