---
layout: layout.liquid
title: Can't Leave Home Without It
---

<h1>Items I can't Leave Home <strong>Without</strong></h1>
<img alt="Wallet" src="/images/image0(3).jpeg" width="50" />
<img alt="Keys" src="/images/image1.jpeg" width="50" />
<img alt="Earbuds" src="/images/image2.jpeg" width="50" />